{% extends "header.html" %}

{% block content %}

<h1>About BotCache</h1>
<p>
BotCache began with a simple observation: <strong>some bots on Twitter are more popular than most human beings.</strong> While most people associate the word "bot" with spam or viruses, some bots have become quite chummy with humans, and though we know full well that they are of the robot kind, we still celebrate what they have to say, and how they say it.<br>
                                                                                                           <br> 
Since the beginnings of science fiction, writers have imagined a world where robots and humans exist alongside each other. Whether as helpers, friends or enemies, the robots they imagined weren't simply servants but near-equals, if not more.  These robots chat and converse intelligently, and even if they have a robot appearance, they quickly become welcome companions.<br>
<br>
Remarkably, that world is already here. While Roombas zip across living rooms, Twitter chat bots have inserted themselves into our daily social lives.  Chat bots, of course, are nothing new, but the sheer scale of bots and their popularity are showing that Twitter has become a zone for widespread use of bots in our social lives. How do we talk to them? How do they respond? How do we talk about them with others?<br>
<br>
BotCache is a research and storytelling project, an attempt to record and analyze the <strong>friendly bots</strong> who live among us.  It's not about spam bots or other annoying creatures.  While we enjoy meeting all the bots who survey our world, we are particularly interested in bots who have gained a broad following and have gained the sort of love reserved for greats like @horse_ebooks and @stealthmountain.  With their tweets, these clever bots occupy our online social lives with helpfulness, hilarity and maybe even a touch of humanity.  
</p>

<h2>The Team</h2>
<p>We are a team of bot lovers dedicated to telling the story of the robots in our social media lives.  We are grateful for advising from Chris Csikszentmihalyi.</p>

<div style="margin-left:20px;">

<div class="teambox"><IMG SRC="static/mysterybot.gif"><br>
      <h1>Mystery Bot</h1>
                    <p> Mystery Bot advises us on mysterious affairs. Will you join our team?  We are looking for designers, developers, writers and bots!</p>
</div>

<div class="teambox"><IMG SRC="static/anxiaobot.gif"><br>
      <h1>An Xiao Bot</h1>
                    <p> An Xiao Mina is a designer and writer who looks at internet culture. Her work has appeared in The Atlantic, The New York Times, Wired and others.</p>
</div>

<div class="teambox"><IMG SRC="static/alexbot.gif">  <br>
                         <h1>Alex Bot</h1>
                        <p>Alex Leavitt is a researcher at the USC Annenberg School for Communication and Journalism at the University of Southern California.</p>

</div>

</div>


<div style="clear:both"></div>
<h2>Wishlist</h2>

<p>Here's what we hope to accomplish in the coming months as we move from beta to a more full-fledged site...</p>

<ul>
   <li>Total free software data visualizations, including maps and charts</li>
   <li>A compendium of keyword triggers for popular bots</li>
   <li>A simple tool to highlight funny and/or interesting conversations with bots</li>
   <li>A simple login screen for administrators so we don't have to use the Terminal as often!</li>
    </ul>
    
<p>If you have skills or experience to share, feel free to get in touch. You can join our Google Group or fork our site on Github to make contributions and suggestions.</p>

<div style="clear:both"></div>
<h2>Open Source</h2>
  
<p><A HREF="{{ pythonpage }}/index">BotCache</A> (beta) is a project inspired in part by <A HREF="http://www.cmu.edu/news/blog/2010/Summer/robot-census.shtml">the world's first robot census at CMU</A>.  This web site is Free Software, licensed under the <A HREF="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License</A>. The collected data and insights are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">Creative Commons Attribution-NonCommercial 3.0 Unported License.</A> We rely on the following free software libraries:
  </p>  
  
  <ul style="list-style-type:none">
      <li>Python</li>
   <li>Flask/Jinja</li>
   <li>Natural Language Toolkit</li>
    </ul>
  <br>
  <img src="http://www.gnu.org/graphics/agplv3-155x51.png" height=31px> <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a>

{% endblock %}