{% extends "header.html" %}

{% block content %}

<h1>About BotCache</h1>
<p>
<blockquote>Now in those days a decree went out from Caesar Augustus, that a census be taken of all the inhabited earth. This was the first census taken while Quirinius was governor of Syria. And everyone was on his way to register for the census, each to his own city. -- Luke 2:1-3</blockquote>
<br>
Since the beginnings of science fiction, writers have imagined a world where robots and humans exist alongside each other. Whether as helpers, friends or enemies, the robots they imagined weren't simply servants but near-equals, if not more.  These robots chat and converse intelligently, and even if they have a robot appearance, they quickly become welcome companions.<br>
<br>
Remarkably, that world is already here. While Roombas zip across living rooms and machines construct our computers, Twitter chat bots have quietly inserted themselves into our daily lives.  Chats bots, of course, are nothing new, but the sheer scale of bots and their sheet popularity--some have more followers than most human beings--are showing that Twitter has become a zone for widespread use of bots in our social lives.<br>
<br>
<blockquote>According to a researcher who took a close look at Mitt Romney and Barack Obama's Twitter followings, they have quite a few suspect followers. Up to 29.9% of Barack Obama's 17.82 million Twitter followers and 21.9% of Mitt Romney's 814,000 followers may be fake, according to the study. -- Forbes Magazine</blockquote>
<br>
BotCache is an attempt to record and analyze the bots who live among us.  While we aim to survey all the bots who survey our world--including the estimated plethora of spam bots who boost follower counts and promote sketchy products--, we are particularly interested in bots who have gained a broad following.  With their tweets, these clever bots occupy our online social lives with helpfulness, hilarity and maybe even a touch of humanity.  
</p>

<h2>The Team</h2>


<div style="margin-left:20px;">

<div class="teambox"><IMG SRC="static/mysterybot.gif"><br>
      <h1>Mystery Bot</h1>
                    <p> Mystery Bot advises us on mysterious affairs. Will you join our team?  We are looking for designers, developers, writers and bots!</p>
</div>

<div class="teambox"><IMG SRC="static/anxiaobot.gif"><br>
      <h1>An Xiao Bot</h1>
                    <p> An Xiao Mina is a designer and writer who looks at internet culture. She has a few robot friends, even if they do not talk to her.</p>
</div>

<div class="teambox"><IMG SRC="static/alexbot.gif">  <br>
                         <h1>Alex Bot</h1>
                        <p>Alex Leavitt is a researcher at the USC Annenberg School for Communication and Journalism at the University of Southern California.</p>

</div>

</div>


<div style="clear:both"></div>
<h2>Wishlist</h2>

<p>Here's what we hope to accomplish in the coming months as we move from beta to a more full-fledged site...</p>

<ul>
   <li>Total free software data visualizations, including maps and charts</li>
   <li>A compendium of keyword triggers for popular bots</li>
   <li>A simple tool to highlight funny and/or interesting conversations with bots</li>
   <li>A simple login screen for administrators so we don't have to use the Terminal as often!</li>
    </ul>
    
<p>If you have skills or experience to share, feel free to get in touch. You can join our Google Group or fork our site on Github to make contributions and suggestions.</p>

<div style="clear:both"></div>
<h2>Open Source</h2>
  
<p><A HREF="{{ pythonpage }}/index">BotCache</A> (beta) is a project inspired in part by <A HREF="http://www.cmu.edu/news/blog/2010/Summer/robot-census.shtml">the world's first robot census at CMU</A>.  We are grateful for advising from Chris Csikszentmihalyi.  This web site is Free Software, licensed under the <A HREF="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License</A>. The collected data and insights are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">Creative Commons Attribution-NonCommercial 3.0 Unported License.</A> We rely on the following free software libraries:
  </p>  
  
  <ul style="list-style-type:none">
      <li>Python</li>
   <li>Flask/Jinja</li>
   <li>Natural Language Toolkit</li>
   <li>MongoAlchemy</li>
    </ul>
  <br>
  <img src="http://www.gnu.org/graphics/agplv3-155x51.png" height=31px> <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a>

{% endblock %}