{% extends "header.html" %}


{% block content %}
<div style="position:fixed;left:800px;top:75px;width:150px"><iframe class="btn" frameborder="0" border="0" scrolling="no" allowtransparency="true" height="25" width="150" src="http://platform.tumblr.com/v1/follow_button.html?button_type=1&tumblelog=botcache&color_scheme=dark"></iframe>

<p style="font-size:8pt">The BotCache blog runs <A HREF="http://botcache.tumblr.com">on Tumblr</A> and is maintained by our editors and community managers. Anyone is welcome to <A HREF="http://botcache.tumblr.com/submit">submit a suggested blog post</A>.  Posts tagged with "botcacheblog" automatically appear here.</p>
</div>

<h1>BotCache Blog</h1>

{% for post in botcachefeed %}
    
<div class="blogpost">
    
    <h1><A HREF="{{post['link']}}">{{ post['title'] }}</A></h1>
    
    {{ post['summary_detail']['value'] | safe }}
    
    <span class="blogdatetime"><A HREF="{{post['link']}}">{{ post['published'][:-5] }}</A>
<br><br><br>
</div>

{% endfor %}

{% endblock %}
