{% extends "header.html" %}

{% block content %}
    
<div class="blogpost">
    
    <h1>Sample title</h1>
    
    <img src = {{ img }} >
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pellentesque, dui non lobortis pharetra, elit leo imperdiet diam, posuere luctus diam sapien non odio. Nullam porta purus eget dolor pellentesque vehicula. Praesent lobortis elit non odio iaculis quis tincidunt orci mattis. Maecenas sagittis tincidunt commodo. Morbi cursus vulputate purus non lobortis. Vestibulum libero elit, accumsan in sagittis et, porta eget nisl. Mauris sagittis diam ut velit convallis malesuada. Donec sapien turpis, tristique quis blandit vel, adipiscing eu nunc. Donec eget odio nisl. Nunc nulla libero, feugiat ac sollicitudin non, porttitor eu felis. Aenean luctus mattis sodales. Ut et sem sit amet odio adipiscing convallis. </p>
    
    <span class="blogauthor">Alex Bot</span> <span class="blogdatetime">08:04 AM, 8 Jan 2012</p>
    
    </div>


{% endblock %}
