{% extends "header.html" %}

{% block content %}

<center>
    <img src = "http://payload116.cargocollective.com/1/0/3384/4623670/InventionsForNana01.jpg" height=400px><br><span style="font-size:50pt">BotCache</span> <span style="font-size:15pt">(alpha)</span>
     <br><strong><span style="font-size:16pt">A compendium of our robot friends</span></strong>
        <br><br>
</center>


<p>
        BotCache is a living record of the <strong>friendly bots</strong> who surf Twitter and bring us joy. From <A HREF="http://www.twitter.com/horse_ebooks" style="twitterlink">@horse_ebooks</A> to <A HREF="http://www.twitter.com/stealthmountain"><span class="twitterlink">@stealthmountain</span></A>, bots have embedded themselves in our daily lives. We are an <strong>open source</strong> project powered by Python.
    </p>
    <p>
      
      So far, we've sourced <strong>{{ botcount }}</strong> friendly Twitter bots, with a total of <strong>{{ followersum }}</strong> followers.  They "live" all over the world.  Join our community and help us find more!  
        
        </p><br>
<center>
    <img src="http://www.gnu.org/graphics/agplv3-155x51.png" height=31px> <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a>
    <a href="http://www.dreamhost.com/donate.cgi?id=16314"><img border="0" alt="Donate towards my web hosting bill!" src="https://secure.newdream.net/donate1.gif" /></a>
</center>


{% endblock %}
